*{
    margin: 0;
    padding: 0;
}

.container{
    height: 1000px;
    background-color: darkgrey;
}

.header{
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: blue;
    background-image: url(static/houseInTropics.jpg);
}

.hImg{
    padding-left: 10px;
    height: 75px;
    width: 75px;
}

.hamburger{
    @media (width < 40em){
        background-color: brown;
        position: fixed;
        inset: 0;
        padding: 1.5rem;
    }
}

.header_list{
    display: flex;
    gap: 1rem;;
    align-items: center;
    padding-right: 10px;

    @media (width < 40em){
        flex-direction: column;
    }
}

.hList_item{
    list-style-type: none;
    padding: 5px;
}