*{
    margin: 0;
    padding: 0;
}

.container{
    height: 1000px;
    background-color: darkgrey;
}

.header{
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: blue;
    background-image: url('/static/img/houseInTropics.jpg');
}

.hImg{
    padding-left: 10px;
    height: 75px;
    width: 75px;
}

.hamburger{
    @media (width < 40em){
        background-color: brown;
        position: fixed;
        inset: 0;
        padding: 1.5rem;
        translate: 100vw 0;
        transition: translate 0.5s ease-in-out;
    }

    @media (width < 40em) and (prefers-reduced-motion){
        translate: 0;
        opacity: 0;
        transition: opacity 500ms ease-in-out;
    }
}

.hamburger_open[aria-expanded='true']{
    + .hamburger{
        translate: 0;
        @media (prefers-reduced-motion){
            opacity: 1;
        }
    }
}

.hamburger_close{
    display: block;
    margin-inline-start: auto;
    margin-block-end: 8rem;

    img{
        width: 2.5rem;
    }
}

button{
    background: none;
    border: none;
    padding: 0;

    @media (width >= 40em){
        display: none;
    }
}

.header_list{
    display: flex;
    gap: 1rem;;
    align-items: center;
    padding-right: 10px;

    @media (width < 40em){
        flex-direction: column;
    }
}

.hList_item{
    list-style-type: none;
    padding: 5px;
}